html {
  font-size: calc(100vw / 1440 * 10);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 4rem 11rem 0;
  display: flex;
  align-items: center;
  margin-bottom: 12rem;
  opacity: 0;
}

.navbar__image{
  width: 120px;
}

.navbar__links {
  display: flex;
  align-items: center;
  column-gap: 66px;
  margin-left: 20.3rem;
  margin-right: 16.3rem;
}

.navbar__link {
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: black;
  position: relative;
  height: fit-content;
}

.navbar__link::after {
  background: black;
  bottom: -12px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  transform: scaleX(0);
  transform-origin: right center;
}

.navbar__link.is-active::after,
.navbar__link:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
}

.text{
  display: flex;
  align-items: flex-start;
  column-gap: 6.7rem;
}

.header{
  font-family: 'Be Vietnam Pro', sans-serif;
  color: black;
  z-index: 2;
  font-size: 10rem;
  position: relative;
  margin: 0;
  font-weight: 700;
  line-height: 1.1;
}

.header span{
  display: block;
  opacity: 0;
}

.header span:last-child{
  transform: translateX(19.4rem);
}

.paragraph{
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
  top: 12px;
  opacity: 0;
}

.image{
  width: 123rem;
  position: absolute;
  /*Height of navbar + Header margin + Height of header text - Half of height of last row of header text*/
  top: calc(8.4rem + 12rem + 22rem - 5rem);
  left: 0;
  visibility: hidden;
}

.round-text{
  position: absolute;
  top: calc(8.4rem + 12rem + 22rem - 5rem);
  left: 123rem;
  transform: translate(-50%, -50%);
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
  opacity: 0;
}

.round-text textPath{
  fill: black;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 12px;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.preloader{
  position: absolute;
  /*
    The 20.70 is gotten from calculation the height of the image from the aspect ratio of the image which is 1400 by 935
    Using some simple math we can derive half of the image's height from (935/1400) * width we gave it
  */
  top: calc(50% - 20.70rem);
  left: calc(50% - 31rem);
  width: 62rem;
  opacity: 1;
}

.preloader__image{
  width: 100%;
  opacity: 1;
}

.preloader__overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 1;
}